testbed/range_file
testbed/startup.list
testbed/venv/
testbed/cert
testbed/config
testbed/log
*.deb
.vscode/

venv/
__init__.py
__pycache__/
*.py[cod]

/evio-tools.sh
/evio-tools
debian-package/edge-vpnio/etc/opt/edge-vpnio/config.json
debian-package/edge-vpnio/opt/edge-vpnio/framework
debian-package/edge-vpnio/opt/edge-vpnio/modules
debian-package/edge-vpnio/opt/edge-vpnio/Controller.py
debian-package/edge-vpnio/opt/edge-vpnio/tincan