testbed/range_file
testbed/startup.list
testbed/venv/
testbed/cert
testbed/config
testbed/log
*.deb
.vscode/

venv/
__init__.py
__pycache__/
*.py[cod]

/evio-tools.sh
/evio-tools
debian-package/evio/etc/opt/evio/config.json
debian-package/evio/opt/evio/framework
debian-package/evio/opt/evio/modules
debian-package/evio/opt/evio/Controller.py
debian-package/evio/opt/evio/tincan