[Unit]
Description=EdgeVPNio service
After=network.target

[Service]
Type=oneshot
ExecStart=/opt/evio/evio-start
RemainAfterExit=true
Restart=no
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
