[Unit]
Description=EdgeVPNio service

[Service]
Type=oneshot
ExecStart=/opt/evio/evio-start
RemainAfterExit=true
Restart=no
TimeoutStopSec=30

[Install]
After=network.target
WantedBy=multi-user.target
