[Unit]
Description=EdgeVPNio service

[Service]
Type=oneshot
ExecStart=/opt/edge-vpnio/evio-start
RemainAfterExit=true
Restart=no
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
